:root {
  --primary-color: rgb(172, 177, 191);
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}



body {
overflow-x: hidden;
overscroll-behavior-y: none; 
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 auto;
  color: black;
  font-weight: 600;
}

 

h1 {
  font-size: 7em;
}

h2 {
  font-size: 38px;
  padding-top: 100px;
}

h3 {
  font-size: 33px;
}

strong {
  font-size: 48px;
  font-weight: 500;
  color: rgb(38, 44, 65);
}

p {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-size: 38px;
  line-height: 1.5;
  text-align: inline;
  color: rgb(77, 89, 129);
  font-weight: 500;
}

img {
  margin-top: 80px;
  margin-bottom: 30px;
  background-color: rgba(76, 91, 130, 0.4);
}

.img-fluid {
  border-radius: 30px !important;
}

footer {
width: 100%;
height: 300px;
margin: 0;
text-align: center;
background: #161922;
overscroll-behavior: none;
}



#homepagefooter{
  color: 	#28282B;
  font-size: 40px;
  position: relative;
  top: 40%;
  padding: 13px;
}


#homepagefooter:hover {
transition: all 200ms ease-in-out;
color:#a2b8ce;
font-size: 50px;
}




#aboutfooter {
  color:white;
  font-size: 7em;
  position: relative;
  top: -3%;
  overflow: hidden;
  justify-content: space-between;
  margin: 17px;
}

#aboutfooter:hover{
transition: all 400ms ease-in-out;
font-size: 10em;
}


.fa-github:hover {
color: #2DA042;
}

.fa-linkedin:hover {
 color: #0A65C2;
}

.fa-instagram:hover {
color: #971D72;
}

.fa-facebook:hover {
color:#315A94
}

.fa-paper-plane:hover {
color: #af1a0d;
}

.email {
  display: block;
  text-decoration: none;
  color: rgb(89, 109, 127);
  opacity: 0.8;
  background-color: #161922;
  margin-top: 60px;
  
}



.git-repo {
  display: block;
  text-decoration: none;
  color: rgb(89, 109, 127);
  opacity: 0.8;
  background-color: #161922;
}

.git-repo:hover,
.email:hover {
  transition: all 200ms ease-in-out;
  color: #93a5cf;
}

.header {
background-image: linear-gradient(to bottom, #7f8e9a, #919fab, #a2b0bc, #b5c1cd, #C8D6E0);
}

  
.homepage {
background: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}


.introduction {
background: url(images/bluecomputer3.jpeg) center no-repeat;
width: 100%;
overflow: hidden;
height: 750px;
filter: brightness(1.30);
background-size: cover;

}

.aboutpage {
background: url(images/darklaptop-three.jpeg) center no-repeat;
height: 500px;
}


.aboutpage img {
border-radius: 0 !important;
border: 2px solid #161922 !important;
background: black;
box-shadow: 11px 19px 20px rgba(0, 0, 0, 0.4) !important;
}

.aboutintroduction {
width: 100%;
padding: 20px;
overflow: hidden;
background-size: cover;
margin-bottom: -60px;
}

.projects {
margin-top: 100px;
}

#intro {
  text-align: center;
}

.about-paragraphs {
  text-align: center;
  color: black;
  display: flex;
  font-weight: 800;
  padding: 40px;
  margin: 30px;
  font-size:30px;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 40px 50px;
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
}


.contact-link,
.about-link {
transition: all 200ms ease-in-out;
background-color: rgba(191, 189, 195, 0.134);
color: #161922;
}


.contact-link:hover,
.about-link:hover {
transition: all 200ms ease-in-out;
background-color: rgba(191, 189, 195, 0.393);
color: #161922;
}

 #aboutcontact {
  display: flex;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
  color: #8FC3D2;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font-weight: 600;
  margin: 0 234px 0 234px;;
  padding: 10px;
}

#aboutcontact:hover {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-weight: 600;
  color: #c7f5ff;
}

.app-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.yoga-link,
.weather-link,
.yogurt-link,
.contact-link,
.about-link {
background : #161922;
box-shadow: var(--box-shadow);
color: white;
}

.yoga-link:hover,
.weather-link:hover,
.yogurt-link:hover {
transition: all 200ms ease-in-out;
opacity: 90%;
background-color: rgba(191, 189, 195, 0.134);
color: #161922;
border: 3px solid #161922;
}



#contact {
padding: 20px;
background: #161922;
}

#contact h2 {
padding: 5px;
color: white;
margin: 0px 234px 0px 234px;
font-size: 40px;

}
 

@media (max-width: 576px) {
  body {
    text-align: center;
}

h3, h2 {
  font-size: 15px;
}

h1 {
font-size: 68px;
}


img {
  display: none;
}

p {
  margin: 10px 10px 30px 5px;
}

.app-links a {
padding: 20px 50px 20px 50px;
margin: 50px 20px;
font-size: 17px;
}


.navigation-links {
font-size: 17px;
}
}